h2 {
	text-align: center;
}
h2 + br + div {
	border: 2px solid #57ff31;
}
div img {
	width: auto;
	height: 300px;
	border: 5px solid #4444ba;
	float: left;
}
div p {
	font-size: 1.2em;
	display: inline;
	height: 100%;
}
.clearBoth {
	clear: both;
}
.col-5 h6 {
	display: inline-block;
}
.col-5 img {
	height: 80px;
	width: auto;

}